.page{
    background-color: #ffffff;
    color: #000000;
    display: flex;
    align-items: center;
    height: 100vh;
}

.inputBar {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 12px;
    width: 340px;
    margin-top: 7px;
    margin-bottom: 7px;
}

.submit-button {
    width: 30%;
    padding: 10px;
    background-color: #78A378;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    margin-top: 20px;
}

.centeredContainer {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
}