.page{
    background-color: #ffffff;
    color: #000000;
    display: flex;
    align-items: center;
    height: 100vh;
}

.inputBar {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 12px;
    width: 340px;
    margin-top: 7px;
    margin-bottom: 7px;
}

.submit-button {
    width: 50%;
    padding: 10px;
    font-size: 16px;
    background-color: #78A378;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    margin-top: 40px;
    align-items: center;
}

.centeredContainer {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
}

.location-button {
  width: 100%;
  padding: 6px;
  background-color: #d0d0d0;
  color: #373737;
  cursor: pointer;
  border-radius: 12px;
  font-size: 12px;
  transition: background-color 0.3s ease;

  border: 1px solid #a9a9a9;  /* Light gray border */
  border-style: solid;  /* Ensures consistent border style */
  outline: none;
}

.location-button:hover {
  background-color: #c9c9c9;
}

.location-button:active {
  background-color: #c9c9c9;
  transform: scale(0.98);
}

.submit-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
/* Center the loader */
#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #78A378;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  /* Add animation to "page content" */
  .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }
  
  @-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
  }
  
  @keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
  }
  
  #myDiv {
    display: none;
    text-align: center;
  }


